@media only screen and (max-width: 480px) {
     
    .photo {
    	display: none;
    }
    .container, #footcontainer {
	  width: 98%;
	}
	.right {
		position:relative;
		right: 0;
	}
	h2 {
		margin-top: -30px;
	}
	.intro {
		text-align: left;
		width: 90%;
	}
}

@media only screen and (min-width: 480px) {
     
    .photo {
    	display: none;
    }
    .container, #footcontainer {
	  width: 90%;
	}
	.right {
		position:relative;
		right: 0;
		clear:both;
	}
	h2 {
		margin-top: -30px;
	}
	.intro {
		text-align: left;
		width: 80%;
	}
}

@media only screen and (min-width: 768px) {
     

    .photo {
    	display: block;
    }
    .container, #footcontainer {
	  width: 80%;
	}
	.right {
		position: absolute;
		right:120px;
	}
	h2 {
		margin-top: 40px;
	}
	.intro {
		text-align: justify;
		width: 70%;
	}
}

@media only screen and (min-width: 1140px) {
  
  	.photo {
    	display: block;
    }
    .container, #footcontainer {
        width:1026px;
        margin:0 auto;
    }
	.right {
		position: absolute;
		right: 180px;
	}
	.intro {
		text-align: justify;
		width: 60%;
	}
}