/*

font-family: 'Just Me Again Down Here', cursive;
font-family: 'IM Fell Double Pica', serif;
font-family: 'Rosario', sans-serif;

*/

body {
  margin: 0;  
  width: 100%;
  background:url(img/bg/beans.png);
  background-attachment: fixed;
  font-family: arial, sans-serif;
}

#bgrnd, #mdgrnd, #fgrnd {
  position: absolute;
  width:100%;
  clear: both;
}

.container, #footcontainer  {
  margin: 0 auto;
  width: 80%;
}
.box {
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}

h1 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 2.5em;
  margin-top:0;
  color: #222;
}

h2{
  font-family: 'Just Me Again Down Here', cursive;
  margin-top: 40px;
  color: #333;
}
p {
  font-family: 'Rosario', sans-serif;  
}
.kerning {
  letter-spacing:-6px;
}

.top {
  margin-top: 2px;
}


.pagecontainer {
  margin-top: 40px;
  padding: 20px;
  position: relative;
}

.intro, .fullwidth {
  width: 100%;
  text-align: center;
  clear: both;
  position: relative;
}
.intro {
  font-size: 18px;
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  text-align: justify;
  text-indent: 25px;
}
.intro h3 {
  font-family: 'Rosario', sans-serif;
  font-size: 18px;
  margin: 0;
}
.intro a {
  color:black;
}

.fullwidth {
}

.pagetitle {
  margin-left: 10px;
}

.square {
  margin: 10px 10px 0 10px ;
  border-radius:3px;
  display: inline-block;
  padding: 10px; 
  background-color: lightgrey;
  width: 110px;
  height: 140px;
  text-decoration: none;
  color: black;
}
.square:hover, .square:active{
  position: relative;
  left:5px;
  top:-5px;
  box-shadow:-5px 5px 5px grey;
}
.square p {
  font-size: 18px;
  margin:0px;
  font-family: 'Just Me Again Down Here', cursive;
  letter-spacing:1px;
  line-height: 90%;
}

.right{
  position: absolute;
  right: 120px;
  margin-left: 30px;
}
p.right {
  margin-top: 60px;
}
.blurb {
  /*margin-top: 100px;*/
  margin-left: 10px;
  text-indent: 20px;
}
.photo {
  width: 150px;
  margin-left:35px;
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  box-shadow: -3px 8px 5px grey;
  border-radius:5px;
  transform:rotate(-17deg);
-ms-transform:rotate(-17deg); /* IE 9 */
-webkit-transform:rotate(-17deg); /* Safari and Chrome */
}

#lastPage {

  margin-bottom: 80px;
}

#footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
#footcontainer {
}
.foot {
  margin-top: 10px;
  margin-right: 20px;
  float: right;
  height: 30px;
  background-color: white;
  border-radius: 2px;
  padding: 3px; 
}
.foot:hover {
  background-color: rgba(0,0,0,0.1);
}